# Ignorar el Word y el script
Apuntes.docx
~$puntes.docx
crear_proyecto_control_horario_sqlite_directo.sh

# Ignorar los dos txt
Notas.txt
NotasGit.txt

.vscode
Modelo de Datos.xlsx

Ignorar TODOS los archivos .p12 en el proyecto (Recomendado)
#**/*.p12

.env

**/target/

~$Modelo de Datos.xlsx

controlhorario-angular/